<!DOCTYPE html>
<html>
    <head>
        <title>간편투표앱</title>
    </head>
    <body>
        <form action="/register">
            <p>이름 <input type="text" name="name"></p>
            <input type="submit">
        </form>
    </body>
</html>