<!DOCTYPE html>
<html>
    <head>
        <title>간편투표앱</title>
    </head>
    <body>
        <form action="/voted">
            <h1>당신의 소녀들에게 투표하세요.</h1>
            <input type="radio" name="girls" value="sm" > 소미
            <input type="radio" name="girls" value="sj"> 세정
            <input type="radio" name="girls" value="kk"> 결경
            <input type="radio" name="girls" value="cy"> 채연
            <input type="radio" name="girls" value="ch"> 청하
            <input type="radio" name="girls" value="yj"> 유정
            <input type="radio" name="girls" value="ny"> 나영
            <input type="submit">

        </form>
    </body>
</html>